<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="grid.css">
</head>
<body class="body-container">
    <header>
        <p class="vertical">head</p>    
    </header>
    <nav>
        <p class="vertical">nav</p>    
    </nav>
    <section>
        <p class="vertical">section</p>    
    </section>
    <article>
        <p class="vertical">article</p>    
    </article>
    <aside class="flex">
        <p class="vertical">aside</p> 
    </aside>
    <footer>
        <p class="vertical">footer</p>    
    </footer>
</body>
</html>